CREATE A NEW config.env FILE WITH THE FORMAT IS AS BELOW

PORT=5000

# BINANCE CONFIGURATION
API_KEY_TEST = 'YOUR_API_KEY'
API_SECRET_TEST = 'YOUR_API_KEY'
API_KEY_MAIN = 'YOUR_API_KEY'
API_SECRET_MAIN = 'YOUR_API_KEY'

# PRICE CHECKING INTERVAL, MEASURED IN MINUTES
INTERVAL = 5

# SET USDT AS THE DEFAULT PAIR-ER
PAIR_WITH = 'USDT'

# THE MAXIMUM AMOUNT THE BOT CAN SPEND 
QUANTITY = 15

# MINIMUM AMOUNT TO PLACE AN ORDER, BINANCE WOULDN'T ALLOW A LOWER QUANTITY.
MIN_QUANTITY = 11

# IF THE PRICE OF A COIN INCREASES BY THIS PERCENTAGE, THE BOT PROCEEDS TO BUY IT. DEFAULT TO 3
VOLATILE_TRIGGER = 3

# TAKE PROFIT THRESHOLD
TP_THRESHOLD = 6

# STOP LOSS THRESHOLD
SL_THRESHOLD = 3

# SOMETIMES BINANCE WOULDN'T LET YOU SELL 100% OF THE ASSET. 
# IF YOU HAVE BNBs TO PAY FOR TRANSACTIONS, YOU CAN SET THIS TO 100%
ACTUAL_SELL_RATIO = 99.5